.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.todoform {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #f1f1f1;
}
button {
  font-size: 20px;
  min-height: 34px;
  padding: 5px 10px;
  background: cornflowerblue;
  color: #fff;
  border: 1px solid cornflowerblue;
  min-width: 100px;
  margin: 5px 5px;
}
input {
  font-size: 14px;
  padding: 0px 10px;
  height: 34px !important;
  margin: 5px 5px;
}
.todolist {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todolist li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnedit{background: forestgreen; border-color: forestgreen;}
.btndelete{background: firebrick; border-color: firebrick;}